<a href="https://colab.research.google.com/github/samuelmat/DSPS_sMatylewicz/blob/master/HW6/Lab_10_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt

hprice = pd.read_csv("https://raw.githubusercontent.com/fedhere/DSPS/master/lab6/train.csv", na_values = '-')
hprice.head

<bound method NDFrame.head of         Id MSSubClass MSZoning  ... SaleType SaleCondition SalePrice
0        1         60       RL  ...       WD        Normal  208500.0
1        2         20       RL  ...       WD        Normal  181500.0
2        3         60       RL  ...       WD        Normal  223500.0
3        4         70       RL  ...       WD       Abnorml  140000.0
4        5         60       RL  ...       WD        Normal  250000.0
5        6         50       RL  ...       WD        Normal  143000.0
6        7         20       RL  ...       WD        Normal  307000.0
7        8         60       RL  ...       WD        Normal  200000.0
8        9         50       RM  ...       WD       Abnorml  129900.0
9       10        190       RL  ...       WD        Normal  118000.0
10      11         20       RL  ...       WD        Normal  129500.0
11      12         60       RL  ...      New       Partial  345000.0
12      13         20       RL  ...       WD        Normal  144000.0
13      14         20       RL  ...      New       Partial  279500.0
14      15         20       RL  ...       WD        Normal  157000.0
15      16         45       RM  ...       WD        Normal  132000.0
16      17         20       RL  ...       WD        Normal  149000.0
17      18         90       RL  ...       WD        Normal   90000.0
18      19         20       RL  ...       WD        Normal  159000.0
19      20         20       RL  ...      COD       Abnorml  139000.0
20      21         60       RL  ...      New       Partial  325300.0
21      22         45       RM  ...       WD        Normal  139400.0
22      23         20       RL  ...       WD        Normal  230000.0
23      24        120       RM  ...       WD        Normal  129900.0
24      25         20       RL  ...       WD        Normal  154000.0
25      26         20       RL  ...       WD        Normal  256300.0
26      27         20       RL  ...       WD        Normal  134800.0
27      28         20       RL  ...       WD        Normal  306000.0
28      29         20       RL  ...       WD        Normal  207500.0
29      30         30       RM  ...       WD        Normal   68500.0
...    ...        ...      ...  ...      ...           ...       ...
2890  2890         30       RM  ...       WD        Normal       NaN
2891  2891         50       RM  ...       WD        Normal       NaN
2892  2892         30  C (all)  ...       WD       Abnorml       NaN
2893  2893        190  C (all)  ...       WD       Abnorml       NaN
2894  2894         50  C (all)  ...       WD        Normal       NaN
2895  2895        120       RM  ...      New       Partial       NaN
2896  2896        120       RM  ...       WD        Normal       NaN
2897  2897         20       RL  ...       WD        Normal       NaN
2898  2898         90       RL  ...       WD        Normal       NaN
2899  2899         20       RL  ...       WD        Normal       NaN
2900  2900         80       RL  ...       WD        Normal       NaN
2901  2901         20       RL  ...       WD        Alloca       NaN
2902  2902         20       RL  ...       WD        Normal       NaN
2903  2903         20       RL  ...      New       Partial       NaN
2904  2904         20       RL  ...      New       Partial       NaN
2905  2905         20      NaN  ...       WD        Normal       NaN
2906  2906         90       RM  ...       WD        Normal       NaN
2907  2907        160       RM  ...       WD        Normal       NaN
2908  2908         20       RL  ...       WD        Normal       NaN
2909  2909         90       RL  ...       WD        Normal       NaN
2910  2910        180       RM  ...       WD        Normal       NaN
2911  2911        160       RM  ...       WD        Normal       NaN
2912  2912         20       RL  ...       WD        Normal       NaN
2913  2913        160       RM  ...       WD       Abnorml       NaN
2914  2914        160       RM  ...       WD        Normal       NaN
2915  2915        160       RM  ...       WD        Normal       NaN
2916  2916        160       RM  ...       WD       Abnorml       NaN
2917  2917         20       RL  ...       WD       Abnorml       NaN
2918  2918         85       RL  ...       WD        Normal       NaN
2919  2919         60       RL  ...       WD        Normal       NaN

[2920 rows x 81 columns]>

In [5]:
hprice.describe()

           SalePrice
count    1460.000000
mean   180921.195890
std     79442.502883
min     34900.000000
25%    129975.000000
50%    163000.000000
75%    214000.000000
max    755000.000000

In [3]:
hprice['GrLivArea'].unique()

array(['1710', '1262', '1786', ..., '2315', '641', '1778'], dtype=object)

In [6]:
hprice.shape

(2920, 81)

In [8]:
hprice.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [0]:
hprice = hprice.dropna(axis = 0, subset = {'SalePrice'})

In [17]:
hprice.shape

(1460, 81)

In [19]:
cols = hprice.columns
keepCols = []
for col in cols:
  if "area" in col.lower():
    keepCols.append(col)
  elif 'year' in col.lower():
    keepCols.append(col)
  elif 'yr' in col.lower():
    keepCols.append(col)
    
keepCols

['LotArea',
 'YearBuilt',
 'YearRemodAdd',
 'MasVnrArea',
 'GrLivArea',
 'GarageYrBlt',
 'GarageArea',
 'PoolArea',
 'YrSold']

In [20]:
keptData = hprice[keepCols]
keptData.head()

  LotArea YearBuilt YearRemodAdd  ... GarageArea PoolArea YrSold
0    8450      2003         2003  ...        548        0   2008
1    9600      1976         1976  ...        460        0   2007
2   11250      2001         2002  ...        608        0   2008
3    9550      1915         1970  ...        642        0   2006
4   14260      2000         2000  ...        836        0   2008

[5 rows x 9 columns]

In [26]:
ax = plt.figure().add_subplot(1,1,1)
pd.plotting.scatter_matrix(keptData, ax = ax)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: UserWarning: To output multiple subplots, the figure containing the passed axes is being cleared
  exec(code_obj, self.user_global_ns, self.user_ns)

ValueError: ignored